/* Configuración Global para evitar parpadeos y scroll */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* ¡Vital para que no parpadee! */
  background-color: #6b7a8f; /* C_BG */
  overscroll-behavior: none;
  font-family: "Courier New", monospace; /* Fuente técnica */
}

canvas {
  display: block;
  outline: none;
}

/* --- ESTILOS DE LA INTERFAZ TÉCNICA --- */

/* Estilo para el campo de texto (Input) */
.tech-input {
  font-family: "Courier New", monospace;
  font-size: 20px;
  padding: 10px;
  width: 350px;
  text-align: center;
  outline: none;

  /* Colores de tu paleta */
  border: 2px solid #8ca0b3; /* C_ACCENT_LINE */
  background-color: #e6e9ed; /* C_TEXT_LIGHT */
  color: #2c3e50; /* C_TEXT_DARK */
}

/* Estilo para los Botones (Iniciar y Enter) */
.tech-btn {
  font-family: "Courier New", monospace;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;

  /* Colores de tu paleta */
  background-color: #d98e5f; /* C_KEY_ACTIVE (Naranja) */
  color: #e6e9ed; /* C_TEXT_LIGHT */
  border: 2px solid #8ca0b3; /* C_ACCENT_LINE */
}

.tech-btn:hover {
  background-color: #c47f53; /* Un poco más oscuro al pasar el mouse */
}

.tech-btn:active {
  background-color: #4a6c96; /* Azul al hacer clic */
}
